html {
    min-width: 1280px;
    min-height: 800px;
    width: 100%;
    height: 100%;
    background-image: url(../img/backimg1.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 700px;
    margin-top: -350px;
    margin-left: -225px;
    border: #CCC 1px solid;
    box-sizing: border-box;
    background-image: url(../img/backimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.fstline {
    margin-top: 80px;
    color: red;
}
