
html{
	background-color: white;
}
body{
	width: 300px;
	height: 500px;
    margin:0 auto;
    border:#CCC 1px solid;
    margin-top: 180px;
    background-color: #eff6ee;
}
.usermotto{
	display: block;
}
p{
	text-align: center;
}
.loginbt{
	display: block;
	margin:0 auto;
	margin-top:20px;
	background-color: #8ce382;
}
.regisbt{
	display: block;
	margin:0 auto;
	margin-top:20px;
	background-color: #f60d73;
}